@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body {
  /* background-color:  #defff6; */
  background-color: #ffffff;
}

main {
  font-family: "Indie Flower", sans-serif;
}

.round-btn {
  width: 35px;        
  height: 35px;          
  border-radius: 50%;     
  border: none;           
  background-color: #ff9b65; 
  color: #6691ff;           
  font-size: 24px;        
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container {
  background-color: #d8780942;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 100px;
  transition: margin-left 0.3s ease;
}

@media (max-width: 900px) {
  .profile-container {
    margin-left: 60px;  
  }
}

@media (max-width: 750px) {
  .profile-container {
    margin-left: 30px;  
  }
}

@media (max-width: 600px) {
  .profile-container {
    margin-left: 0;     
  }
}

.profile-pic {
  width: 100px;          
  height: 100px;
  border-radius: 100%;    
  object-fit: cover;
  padding: 20px;    
  margin-right: 10px;  
}

.profile-info h2 {
  margin: 0;         
}

.profile-info h3 {
  margin: 5px 0;      
  font-weight: normal;
}

.profile-info p {
  margin: 0;
  color: #000000;          
}

section {
  font-family: "Indie Flower", sans-serif;
  
}

section p {
  margin-left: 100px;
  transition: margin-left 0.3s ease;
}

@media (max-width: 900px) {
  section p {
    margin-left: 90px;  
  }
}

@media (max-width: 750px) {
  section p {
    margin-left: 60px;  
  }
}

@media (max-width: 600px) {
  section p {
    margin-left: 30px;     
  }
}

.achievements {
  display: flex;              
  flex-wrap: wrap;            
  gap: 15px;                  
  justify-content: center;    
  margin-top: 10px;
  margin-bottom: 40px;
  background-color: #e69317a1;
  border: #000000;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.achievements img {
  width: 180px;               
  height: auto;              
  border: 2px solid #ccc;   
  border-radius: 8px;        
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
  position: static;       
  bottom: 0;          
  left: 0;
  width: 100%;           
  background-color: #ffffff;
  text-align: center;    
  font-family: sans-serif; 
  font-size: 12px;       
  padding: 1px 0;      
  border-top: 1px solid #cccccc;/
}
