body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}
h1 {
  color: #000;
}
.topo {
  /* imagem de fundo */
  background-image: url("static/assets/imagens/fundo.png");
  background-size: cover;       /* cobre toda a largura */
  background-position: center;  /* centraliza a imagem */
  background-repeat: no-repeat; /* não repete */
  
  /* espaçamento e alinhamento */
  text-align: center;
  color: white;
  padding: 100px 20px;
  position: relative;
}

/* fundo claro */
.sobre {
  background-color: #D0D0D0;
  color: #2b2b2b;
  padding: 80px 20px;
  text-align: center;
}

.principios img {
  width: 120px;
  margin: 15px;
}

.secaosobre p{
  color : #2e2e2e;
  text-align: left;
  font-size: 22px;
}


/* fundo escuro final */
.final {
  background-color: #1a1a1a;
  padding: 80px 20px; /* Espaçamento da seção */
  text-align: center;
  color: #f4d03f;
}


.equipe {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.equipe img {
  width: 80px;
  border-radius: 50%;
}



.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
}
    
.div1 {
    background-color: #c5c6ff;
    grid-column: span 5 / span 5;
}

.div2 {
    grid-column: span 5 / span 5;
    grid-row-start: 2;
    background-color: #c5c6ff;
}

.div3 {
    grid-column: span 5 / span 5;
    grid-row-start: 3;
    background-color: #c5c6ff;
}

.div4 {
    grid-column: span 5 / span 5;
    grid-row-start: 4;
    background-color: #c5c6ff;
}

.div5 {
    grid-column: span 5 / span 5;
    grid-row-start: 5;
    background-color: #c5c6ff;
}

