@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Itim&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Itim", sans-serif;
    background-color: #2B2B2B;
    min-height: 100vh;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center
}
header img {
    height: 137px;
    width: 262px;
    margin: 60px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bolhas {
    position: absolute;
    display: flex;
    z-index: -1;
}
.bolhas span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffffff;
    margin: 0 4px;
    box-shadow: 0 0 0 5px #ffffff44,
    0 0 50px #ffffff,
    0 0 100px #ffffff;
    animation: animar calc(150s/var(--i)) linear infinite;
}
@keyframes animar {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-50vh) scale(1);
    }
}

    /* .bolhas span:nth-of-type(even){}  */

.centralize {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont-info {
    width: 277px;
    background-color: #D9D9D9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #000000;
    font-weight: normal;
}

input {
    width: 230px;
    height: 40px;
    background-color: #BDBDBD;
    border: none;
}

input::placeholder {
    text-shadow: 0 4px 4px #00000025;
    color: #000000;
    font-family: "Itim", sans-serif;
    font-size: 18px;
}

form {
    text-align: center;
}

button {
    all: unset;
}

.btn-submit {
    background-color: #2B2B2B;
    font-family: "Itim", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
    width: 100px;
    height: 30px; 
    cursor: pointer;
}

.cont-info p {
    margin-top: 13px;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 550;
}

