@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    height: 100%;
    margin: 0;
    font-family: "Inknut Antiqua", serif;
}
:root {
    --cor-borda: #02a7da;
}
body {
    background-color: #C5C6FF;
}
#borda {
    border-left: 4px solid var(--cor-borda);
    border-right: 4px solid var(--cor-borda);
    border-top: 4px solid var(--cor-borda);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px dotted var(--cor-borda);
}
.logo {
    width: 230px;
    padding: 15px;
}
#perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 28px;
}
#perfil h4 {
    font-family: "Indie Flower", sans-serif;
    font-weight: 100;
}
.ft-perfil {
    height: 60px;
}
.title {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.discribe {
    display: flex;
    background-color: #eaf7ff;
    border-radius: 8px;
    align-items: center;
    gap: 35px;
    
}
.discribe img {
    margin-left: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
    height: 45px;
}
.discribe h1 {
    font-weight: normal;
    font-size: 15px;
    margin-right: 200px;
}
@media (max-width:600px) {
    .discribe h1 {
        margin-right: 30px;
    }
}
.round-btn {
    width: 35px;        
    height: 35px;          
    border-radius: 50%;     
    border: none;  
    margin: 0px 15px;         
    background-color: #ff9b65; 
    color: #6691ff;           
    font-size: 24px;        
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.round-btn:hover {
    background-color: #ff894a;
    transform: scale(1.05);
}

main {
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

main a {
    text-decoration: none;
}

main img {
    width: 200px;
}

#review {
    margin-left: 40px;
}

#review h3 {
    font-size: 15px;
    font-weight: normal;
}

.rating {
    display: inline-block;
    background-color: #eaf7ff;
    color: #ffbb00;
    font-size: 28px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    -webkit-text-stroke: 1px #ffbb00;
    border-radius: 12px;
    padding: 0px 12px;
}

.star-empty {
  color: #fce5a5;
}

footer {
    position: static;       
    width: 100%;           
    background-color: #ffffff;
    text-align: center;    
    font-family: sans-serif; 
    font-size: 15px;       
    padding: 1px 0;      
    border-top: 1px solid #cccccc;
    margin-top: auto;
    border: 1px solid black;
}

footer p {
    margin: 5px 0px;
}