body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}
h1 {
  color: #000;
}

.cima{
  display: flex; /*ativa flexbox*/
  justify-content:space-between;
  align-items: center;
  background-color: #2b2b2b;
  padding:20px 40px;
}
.logo img{
  height:70px;
}
.criar-link {
    display: inline-block;
    padding: 10px 30px;           /* Tamanho do botão */
    background-color: rgb(255, 254, 254);      /* Fundo branco */
    color: rgb(0, 0, 0);                 /* Texto preto */
    border: none;                 /* Sem borda */
    border-radius: 100px;         /* Cantos bem curvados */
    font-size: 16px;              /* Tamanho da fonte */
    font-weight: 600;             /* Texto levemente em negrito */
    text-decoration: none;        /* Remove o sublinhado */
    cursor: pointer;              /* Mãozinha ao passar o mouse */
    transition: 0.3s;             /* Animação suave */
}
.criar-link:hover {
    background-color: #474747;    /* Leve cinza ao passar o mouse */
    transform: scale(1.05);       /* Leve aumento */
}



.button button{
  border: none ;
  padding: 10px 20px;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.topo {
  /* imagem de fundo */
<<<<<<< HEAD
  background-image: url('static/assets/imagens/fundo.png');
=======
  background-image: url('../assets/imagens/back.png');
>>>>>>> f27a62321ffcef1d828cf521fb62d338a8537b0e
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;

  /* espaçamento e alinhamento */
  text-align: center;
  padding: 100px 20px;
  position: relative;
}

/*conteudo do topo*/
.conteudo {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
}

/* fundo claro */
.sobre {
  background-color: #D0D0D0;
  color: #2b2b2b;
  padding: 80px 20px;
  text-align: left;
}

.principios {
  display: flex;
  justify-content: flex-start; /* imagens começam à esquerda */
  gap: 20px; /* espaço entre elas */
  padding: 20px 10px;
}
.principios img {
  width: 300px; 
  height: auto;
}
h3 {
  color: #8c52ff;
  text-align: center;
  font-size: 32px;
}

.secaosobre p{
  color : #2e2e2e;
  text-align: left;
  font-size: 22px;
}


/* fundo escuro final */
.final {
  background-color: #1a1a1a;
  padding: 80px 20px; /* Espaçamento da seção */
  text-align: center;
  color: #f4d03f;
}


.equipe {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.equipe img {
  width: 80px;
  border-radius: 50%;
}



.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
}
    
.div1 {
    background-color: #c5c6ff;
    grid-column: span 5 / span 5;
}

.div2 {
    grid-column: span 5 / span 5;
    grid-row-start: 2;
    background-color: #c5c6ff;
}

.div3 {
    grid-column: span 5 / span 5;
    grid-row-start: 3;
    background-color: #c5c6ff;
}

.div4 {
    grid-column: span 5 / span 5;
    grid-row-start: 4;
    background-color: #c5c6ff;
}

.div5 {
    grid-column: span 5 / span 5;
    grid-row-start: 5;
    background-color: #c5c6ff;
}

