
.profile-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.profile-pic {
  width: 100px;          
  height: 100px;
  border-radius: 50%;    
  object-fit: cover;    
  margin-right: 20px;  
}

.profile-info h2 {
  margin: 0;         
}

.profile-info h3 {
  margin: 5px 0;      
  font-weight: normal;
}

.profile-info p {
  margin: 0;
  color: #000000;          
}