<!DOCTYPE html>

<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <title>Cadastro</title>
      <link rel="stylesheet" href="../static/css/stylecadastro.css">
   </head>
   <body>
      <div class="container">
         <header>
            <img src="../static/assets/imagens/logo.png" alt="Logo Match-Up">
         </header>

         <div class="bolhas">
            <span style="--i:7"></span>
            <span style="--i:21"></span>
            <span style="--i:14"></span>
            <span style="--i:30"></span>
            <span style="--i:5"></span>
            <span style="--i:18"></span>
            <span style="--i:2"></span>
            <span style="--i:27"></span>
            <span style="--i:11"></span>
            <span style="--i:23"></span>
            <span style="--i:9"></span>
            <span style="--i:28"></span>
            <span style="--i:16"></span>
            <span style="--i:3"></span>
            <span style="--i:25"></span>
            <span style="--i:12"></span>
            <span style="--i:19"></span>
            <span style="--i:6"></span>
            <span style="--i:29"></span>
            <span style="--i:4"></span>
            <span style="--i:20"></span>
            <span style="--i:13"></span>
            <span style="--i:8"></span>
            <span style="--i:26"></span>
            <span style="--i:1"></span>
            <span style="--i:22"></span>
            <span style="--i:10"></span>
            <span style="--i:17"></span>
            <span style="--i:15"></span>
            <span style="--i:24"></span>
            <span style="--i:30"></span>
            <span style="--i:7"></span>
            <span style="--i:18"></span>
            <span style="--i:12"></span>
            <span style="--i:25"></span>
            <span style="--i:3"></span>
            <span style="--i:28"></span>
            <span style="--i:9"></span>
            <span style="--i:20"></span>
            <span style="--i:14"></span>
            <span style="--i:6"></span>
            <span style="--i:27"></span>
            <span style="--i:11"></span>
            <span style="--i:19"></span>
            <span style="--i:4"></span>
            <span style="--i:23"></span>
            <span style="--i:16"></span>
            <span style="--i:8"></span>
            <span style="--i:29"></span>
            <span style="--i:2"></span>
            <span style="--i:22"></span>
            <span style="--i:10"></span>
            <span style="--i:15"></span>
            <span style="--i:26"></span>
            <span style="--i:18"></span>
            <span style="--i:2"></span>
            <span style="--i:27"></span>
            <span style="--i:11"></span>
            <span style="--i:23"></span>
            <span style="--i:9"></span>
         </div>

         <div class="centralize">
            <div class="cont-info">
               <h2>Cadastro:</h2>
            
               <!-- Ação CORRETA: Envia dados para a rota POST /salvar_dados -->
               <form method="post" action="/salvar_dados">
                  
                  <!-- <label for="nome"></label><br> -->
                  <input type="text" id="nome" name="nome" placeholder="   Nome" required><br><br>
                  
                  <!-- <label for="email"></label><br> -->
                  <!-- name="email" é usado no Python para pegar o valor -->
                  <input type="email" id="email" name="email" placeholder="   Email" required><br><br>
                  
                  <!-- <label for="senha"></label><br> -->
                  <!-- name="senha" é usado no Python para pegar o valor -->
                  <input type="password" id="senha" name="senha" placeholder="   Senha" required><br><br>


                  <!-- Botão que ENCAMINHA o formulário para a rota /salvar_dados -->
                  <button type="submit" class="btn-submit" >Criar</button>
               </form>
            
               <!-- Link para a página de Login -->
               <p>Já tem uma conta? <a href="{{ url_for('entrar') }}">Fazer Login</a></p>
            </div>
         </div>
      </div>
   </body>
</html>


