<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My First Page</title>
</head>
<body>
  <img src="static/assets/imagens/logo.png" alt="logo">  
    <h1>A matemática do jeito que as escolas não mostram</h1>
    <img src="static/assets/imagens/fundo.png" alt="ilustração">

    <h2>SOBRE NÓS</h2>
    <P>A MATHUP surgiu como iniciativa de jovens apaixonados por matemática em tornar isso uma realidade mais próxima de cada criança, seja aquela que já sabe de tudo, ou a que quer aprender mais</P>
    <img src="static/assets/imagens/logo2.png" alt="sobre nós">

    <h3>NOSSOS PRINCÍPIOS</h3>
    <img src="static/assets/imagens/principio1.png" alt="princípio 1">
    <img src="static/assets/imagens/principio2.png" alt="princípio 2">
    <img src="static/assets/imagens/principio3.png" alt="princípio 3">

    <h4>"A essência da matemática está na sua liberdade"</h4>
    <h5>Georg Cantor</h5>

    <h6>QUEM SOMOS NÓS?</h6>
    <img src="static/assets/imagens/ana.png" alt="equipe">
    <h7> Ana Laura</h7>
    <img src="static/assets/imagens/amanda.png" alt="equipe">
    <h7> Amanda</h7>
    <img src="static/assets/imagens/isabela.png" alt="equipe">
    <h7> Isabela</h7>
    <img src="static/assets/imagens/joao.png" alt="equipe">
    <h7> João</h7>
    <img src="static/assets/imagens/matheus.png" alt="equipe">
    <h7> Matheus</h7>
    
</body>
</html>
