<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matérias</title>
    <link rel="stylesheet" href="static/css/stylepagcursos.css">
</head>
<body >
    <div class="materias">
        <div class="logo">
            <img src="static/assets/imagens/logo3.png" alt="logo MathUp" class="logo2">
        </div>
        <div class="espaco"></div>
       <a href="{{ url_for('area_aluno') }}" class="botao-aluno-link">
    <div class="aluno">

        <p>Área do Aluno</p>
    </div>
</a>

<section class="cursos">
          <button class="Fração">Botão</button>
    </section>
 <!-- exibir nomes das aulas já com a rota para a aula -->
        {% for materia in aulas %}
             <a href="{{ url_for('aula', nome=materia) }}">
                <div class = "logo">
                    <img src="{{ url_for('static', filename='assets/imagens/logo' ~ materia ~ '.png') }}" alt="logo sistema">
                </div>
                <p>{{materia.title() }}</p>
            </a>
        {% endfor %}
    </div>
</body>
</html>

