<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matérias</title>
    <link rel="stylesheet" href="static/css/stylepagcursos.css">
</head>
<body >
    <div class="materias">
        <div class="logo">
            <img src="static/assets/imagens/logo3.png" alt="logo MathUp" class="logo2">
        </div>
        <div class="espaco"></div>
        <div class="aluno"><p>Área do aluno</p></div>
        <a href="{{ url_for('fracao')}}" class="fracoes"><div class="logo">
                <img src="static/assets/imagens/logofracao.png" alt="logo fracao">
            </div>
            <div class="nome"><p>Fração</p></div>
        </a>
        <a href="{{ url_for('multiplos_e_divisores')}}" class="sistemas">
            <div class="logo">
                <img src="static/assets/imagens/logosistema.png" alt="logo sistema">
            </div>
            <div class="nome"><p>Sistemas</p></div>
        </a>
        <a href="{{ url_for('divisao_euclidiana')}}" class="equacoes">
            <div class="logo">
                <img src="static/assets/imagens/logoequacao.png" alt="logo equacao">
            </div>
            <div class="nome"><p>Equações</p></div>
        </a>
        <a href="{{ url_for('introducao_a_geometria')}}" class="geometria">
            <div class="logo">
                <img src="static/assets/imagens/logogeometria.png" alt="logo geometria">
            </div>
            <div class="nome"><p>Geometria</p></div>
        </a>
    </div>
</body>
</html>

