<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Perfil</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/styleperfil.css">
    </head>
    <body>
        <header>
            <button class="round-btn">←</button>
        </header>

        <main>
             <div class="profile-container">
                <img src="../assets/foto-perfil.png" alt="Foto de perfil" class="profile-pic">
                <div class="profile-info">
                <h2>Nome do aluno</h2>
                <h3>Idade</h3>
                <p>Email de contato</p>
                </div>
            </div>
        </main>

        <footer>
            <p>© 2025 - Todos os direitos reservados</p>
        </footer>
    </body>
</html>
