<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matérias</title>
    <link rel="stylesheet" href="static/css/styleindex.css">
</head>
<body>
    <div class="parent">
        <a href="{{ url_for('divisao_euclidiana')}}" class="div1">1</a>
        <a href="{{ url_for('multiplos_e_divisores')}}" class="div2">2</a>
        <a href="{{ url_for('fracao')}}" class="div3">3</a>
        <a href="{{ url_for('introducao_a_geometria')}}" class="div4">4</a>
    </div>
</body>
</html>

